$primary-color:#5bbb2d;
$sec-color:#006000;
$normal_black:rgba(0,0,0,.5);
$white:rgba(255,255,255,1);
$black:rgba(0,0,0,1);
$transition: all 0.3s ease-in-out;
$transition-two: all 0.5s ease-in-out;
$shadow:5px 5px 60px 0px rgba( 45, 19, 106, 0.2);
$shadow-two: 0px 1px 10px 0px rgba(45, 19, 106, 0.1);
$shadow-three:0px 8px 20px 0px rgba(45, 19, 106, 0.3);